body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input {
  margin-bottom: 20px;
  display: flex;
}

#input-todo {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

#button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#button:hover {
  background-color: #45a049;
}

.results {
  text-align: center;
}

#task-list {
  font-size: 18px;
  font-weight: bold;
}

#list {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.delete-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d9534f;
}
